<!DOCTYPE html>
<html lang="es">
	<head> 
		<title>Kanban</title>
		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js">
			
		</script>
	</head>
	<body>
		<h1>Bienvenido </h1>
		<p>juan</p>
		<a href="/logout">Logout</a>
	</body>
</html>