extends ./layout.jade
block contenido
	div(class="container")
	h1 Welcome
	form(id="loginForm", action="/login", method="post")
		div(class="form-group")
			label(for="email") Email
			input(type="email",name="email",id="email",placeholder="Your Email",class="form-control")
		div(class="form-group")
			label(for="password") Password
			input(type="password", name="password", id="password", placeholder="Your pass", class="form-control")
		div(class="form-group")
			input(type="submit", value="Log in",class="btn btn-default")
		div(class="form-group")
			#[a(href="newUser") Do not have an account?]		
		

		
					
